.idea/
/data/basic.bin
/logs/**/*
**/*.pyc
**/__pycache__
/data/ignore_file/
ffi_test/swig_test/cpp_code/cpp_gen
**/cmake-build-debug
**/cmake-build-release
**/build
/instance
cpp
*.pyc
lib_test/database.db