[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
opencv-python = "*"
numpy = "==1.19.3"
matplot = "*"
coverage = "*"
simplejson = "*"
scipy = "*"
numba = "*"
llvmlite = "*"
HTMLTestRunner-Python3 = "*"
sh = "*"
Mako = "*"
pandas = "*"
# pyinstaller = "*"
PyYAML = "*"
flask = "*"
aiohttp = "*"
Django = "*"
pytest = "*"

Flask-RESTful = "*"
python-simplexml = "*"
redis = "*"
flask-redis = "*"

[requires]
python_version = "3.9"
