[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
opencv-python = "*"

[requires]
python_version = "3.8"
platform_architecture_bits = "64bit"
