[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

# scipy
numpy = "*"
scipy = "*"
Matplotlib = "*"
matplot = "*"
SymPy = "*"
pandas = "*"

# opencv
opencv-python = "*"

#numba
#numba = "*"
#llvmlite = "*"

# server
flask = "*"
aiohttp = "*"
Django = "*"
Flask-RESTful = "*"
python-simplexml = "*"
redis = "*"
flask-redis = "*"
Mako = "*"

# test
pytest = "*"
coverage = "*"

# sh tools
sh = "*"

# yaml
PyYAML = "*"

# package
# pyinstaller = "*"

# gui
PyQt5 = "*"
[requires]
python_version = "3.9"
